:root{
    --main-color:rgb(245, 158, 172);
}

@font-face {
    font-family: 'StarJedi';
    src: url('star-jedi/starjedi/Starjedi.ttf');
}

*{
    color: white;
}

html{
    background-image: url("milky_way.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


h1{
    font-family: StarJedi, Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

#center_container{
    margin: auto;
    width : 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.slick-arrow{
    height : 100%;
    cursor: pointer;
}

#planet_container{
    background-color:var(--main-color);
    width: 600px;
    height: auto;
    margin:auto;
    padding:15px;
    overflow: auto;
    word-wrap: break-word;
    font-family: Helvetica, sans-serif;
}

.bold{
    font-weight: bold;
}
